<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johuan Pablo López.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Corporativo Lumar - Free corporate web template">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Corporativo Lumar | Nosotros</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/fontstyle.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="art/favicon_lumar.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        <section class="sub-hero-banner" style="background-image: url('art/hero1.webp');">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <h1 class="ff-damion">Corporativo Lumar | Nosotros</h1>
                    <a href="index.html" class="fc-white">
                        Inicio
                    </a>
                    <i class="bi bi-chevron-right"></i>
                    <a href="#" class="fc-white">
                        Nosotros
                    </a>
                </div>
            </div>
            <div class="hero-socials">
                <a href="#" class="mt-a icon-link" aria-label="Follow us on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index.html" class="logo fc-primary ff-damion row flex-alig-center">
                    <span class="fs-h2">Corporativo Lumar</span>
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="index.html">Inicio</a>
                    <a href="about.html">Nosotros</a>
                    <a href="soluciones.html">Soluciones</a>
                    <a href="iclientes.html">Clientes</a>
                    <a href="contact.html" class="btn-bg1 border-round">Contáctanos</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <section class="contained row">
            <div class="col-balance">
                <h2 class="section-title ff-damion">Nosotros</h2>
                <span class="fc-primary fs-h2">
                <h3 class="section-title ff-damion"></h3>
                    
                    Comercializadora con más de 15 años en el mercado nacional.                   .
                </span>
                <p>
                    Corporativo Lumar, es una empresa dedicada a la Tecnología de la Información, especializandonos en atender a la Pequeña y Mediana Empresa, pero sin olvidar tanto a los Corporativos como al Público en General, al que brindamos todo tipo de asesoría.
                </p>
                <br>
                <p>
                    El Portafolio de Soluciones que ofrecemos a nuetros clientes, va desde un simple diskete, pasando por hardware y software hasta el Outsourcing, para eficientar a su empresa.
                </p>
                <br>
                <p>
                    Las marcas de los Equipos de Computo y de Impresión, que ofrecemos a nuestros clientes, son entre otras marcas: HP, LEXMARK, OKI, EPSON, IBM, SAMSUNG, BROTHER, CANON, SUN, DELL, ETC,
                </p>
                <br>
                
            </div>
            
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="art/hero1.webp" alt="">
                    <img src="svg/blob.svg" alt="" class="blob">
                    <img src="art/hero2.webp" alt="">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
            
            
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="art/hero1.webp" alt="">
                    <img src="svg/blob.svg" alt="" class="blob">
                    <img src="art/hero2.webp" alt="">
                </div>
            </div>
            <div class="col-balance">
                <h2 class="section-title ff-damion">Nosotros</h2>
                <span class="fc-primary fs-h2">
                <br>
                    ¡Somos una empresa de primer nivel dedicado a hacer que su visión cobre vida! Por supuesto, con su ayuda para comprender sus necesidades.
                </span>
                <p>
                    Los consumibles que ofrecemos a nuestros clientes, son entre otros HP, LEXMARK, OKI, EPSON, IBM, SAMSUNG, VERBATIM, IMATION, KYOCERA, BROTHER, CANON, SUN, DELL, ETC.
                </p>
                <br>
                
                <p>
                    Otro de los servicios ofrecidos a nuestros clientes es el Soporte Técnico, de sus equipos de Computo e Impresión, dando mantenimientos preventivos y/o correctivos, utlizando material y refaccionamiento original.
                </p>
               
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        

    </main>
    
    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER WEBSITE MOTO START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Corporativo Lumar</h3>
                <p>
                    
                </p>
                <br>
                <p>
                    "Todas las marcas mencionadas en este sitio web son propiedad de sus respectivos dueños. Su uso aquí es únicamente con fines informativos y no implica ningún tipo de afiliación o respaldo por parte de los titulares de las marcas."
                </p>
            </div> 
            <!-- FOOTER WEBSITE MOTO END -->

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Contáctanos</h3>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    ventas@clumar.com.mx
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +52 993 190 1049 <br>
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;+52 993 280 3572
                    
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    Jobo Manzana 10 Lote 23, Nacajuca, Tabasco, México. <br>
                    San Benito # 40, Pedregal Santa Ursula, CP 04600, Coyoacán, CDMX, México.
                </a>
                <a href="#" class="display-inblock fc-white icon-link mt-20" aria-label="Follow on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Horario laboral</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Lunes a  Viernes:
                    <span class="fw-normal display-block">Abierto 09:00 a 20:00</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sabados y Domingos:
                    <span class="fw-normal display-block">Todo el día, vía internet</span>
                </p>
                
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Enlaces de interés</h3>
                <a href="index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Inicio
                </a>
                <a href="about.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Nosotros
                </a>
                <a href="soluciones.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Soluciones
                </a>
                <a href="clientes.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Clientes
                </a>
                
                <a href="contact.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contacto
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; www.clumar.com.mx - Copyright 2024</small>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
</html>