<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Roundazzle - Free corporate web template">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Corporativo Lumar | Clientes</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/fontstyle.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="art/favicon_lumar.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        <section class="sub-hero-banner" style="background-image: url('art/hero2.webp');">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <h1 class="SIMPLIFICA-Regular">Corporativo Lumar | Clientes</h1>
                    <a href="index.html" class="fc-white">
                        Inicio
                    </a>
                    <i class="bi bi-chevron-right"></i>
                    <a href="#" class="fc-white">
                        Clientes
                    </a>
                </div>
            </div>
            <div class="hero-socials">
                <a href="#" class="mt-a icon-link" aria-label="Follow us on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index.html" class="logo fc-primary SIMPLIFICA-Regular row flex-alig-center">
                    <span class="fs-h2">Corporativo Lumar, SA de CV</span>
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="index.html">Inicio</a>
                    <a href="about.html">Nosotros</a>
                    <a href="soluciones.html">Soluciones</a>
                    <a href="recuperacion.html">Recuperación</a>
                    <a href="clientes.html">Clientes</a>
                    <a href="contact.html" class="btn-bg1 border-round">Contáctanos</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <section class="contained">
            <h2 class="section-title SIMPLIFICA-Regular">Clientes</h2>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="img/logos/pemex.png"alt="Pemex Logo">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">PEMEX Exploración y Producción</span>
                    <br>
                    <p>
                        ATENDENDEMOS 
                    <br>
                    <br>
                        <li>LAS REGIONES: SUR, NORTE, MARINA SUROESTE, MARINA NOROESTE.</li>
                        <li>TAMPICO, TAMAULIPAS.</li>
                        <li>VILLAHERMOSA, TABASCO.</li>
                        <li>TERMINAL MARITIMA 2BOCAS, TABASCO.</li>
                        <li>CIUDAD DEL CARMEN, CAMPECHE.</li>
                    
                    
                </div>
            </div>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <span class="fc-primary fs-h3">PEMEX GAS Y PETROQUIMICA BASICA</span>
                    <br>
                    <p>
                        TENEMOS RELACIONES COMERCIALES, CON LA EMPRESA PARAESTATAL EN:
                    </p>
                    <br>
                    
                        <li>
                            VILLAHERMOSA, TABASCO.
                        </li>
                        
                    
                </div>
                <div class="col-balance order-tab-1">
                    <img src="img/logos/pemex-gas.png" alt="">
                </div>
            </div>
            
            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="img/logos/IMP-.png"alt="IMP Logo">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">INSTITUTO MEXICANO DEL PETRÓLEO</span>
                    <br>
                    <p>
                        ATENDENDEMOS 
                    <br>
                    <br>
                        
                        <li>VILLAHERMOSA, TABASCO.</li>
                                            
                </div>
            </div>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <span class="fc-primary fs-h3">ADMINISTRACIÓN PORTUARIA INTEGRAL DE DOS BOCAS</span>
                    <br>
                    <p>
                        TENEMOS RELACIONES COMERCIALES, CON LA EMPRESA PARAESTATAL EN:
                    </p>
                    <br>
                    
                        <li>
                            PARAÍSO, TABASCO.
                        </li>
                        
                    
                </div>
                <div class="col-balance order-tab-1">
                    <img src="img/logos/api_2bocas.png" alt="API 2 Bocas LogoL">
                </div>
            </div>


            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="img/logos/cfe.png" alt="CFE Logo">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">COMISIÓN FEDERAL DE ELECTRICIDAD</span>
                    
                    <p>
                        ATENDEMOS A CASI TODA LA RÉPUBLICA
                    </p>
                    <br>
                    
                        <li>CENACE ÁREA DE CONTROL BAJA CALIFORNIA, B.C.</li>
                        <li>GERENCIA REGIONAL TRANSMISIÓN NOROESTE, SONORA.</li>
                        <li>ZONA DISTRIBUCIÓN SAN MARTIN, PUEBLA.</li>
                        <li>ZONA TRANSMISIÓN VILLAHERMOSA, TABASCO.</li>
                        <li>DIVISIÓN GOLFO NORTE, TAMAULIPAS.</li>
                        <li>SUBÁREA TRANSMISIÓN PONIENTE, SONORA.</li>
                        <li>ZONA DISTRIBUCIÓN POZA RICA, VERACRUZ.</li>
                        <li>ZONA TRANSMISIÓN TEMASCAL, OAXACA.</li>
                        <li>CENTRO NACIONAL DE CAPACITACIÓN SURESTE, CAMPECHE.</li>
                        <li>ZONA DISTRIBUCIÓN VERACRUZ, VERACRUZ.</li>
                        <li>ZONA DISTRIBUCIÓN PAPALOAPAN, VERACRUZ.</li>
                        <li>PROYECTOS GEOTERMOELÉCTRICOS, MICHOACÁN.</li>
                    
                </div>
            </div>
                
                <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <span class="fc-primary fs-h3">SECRETARÍA DE SALUD DEL ESTADO DE CHIAPAS</span>
                    <br>
                    <p>
                        TENEMOS RELACIÓN COMERCIAL CON:
                    </p>
                    <br>
                    <ul>
                        <li>INSTITUTO DE SALUD DEL ESTADO DE CHIAPAS</li>
                                                
                    </ul>
                </div>
                <div class="col-balance order-tab-1">
                    <img src="img/logos/salud chiapas.jpeg" alt="Salud Chiapas Logo">
                </div>
            </div>
            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="img/logos/imss.png"">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">INSTITUTO MEXICANO DEL SEGURO SOCIAL</span>
                    <br>
                    <p>
                        ATENDEMOS LA ZONA PRINCIPALMENTE SUR .
                    </p>
                    <br>
                    <ul>
                        <li>VILLAHERMOSA, TABASCO.</li>
                        <li>CAMPECHE, CAMPECHE.</li>
                        <li></li>
                        
                    </ul>
                    
                </div>
            </div>
            
             <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <span class="fc-primary fs-h3">PROCURADURÍA FEDERAL DEL CONSUMIDOR</span>
                    <br>
                    <p>
                        TENEMOS RELACIONES COMERCIALES, CON LA EMPRESA PARAESTATAL EN:
                    </p>
                    <br>
                    
                        <li>
                           CIUDAD DE MÉXICO, CDMX.
                        </li>
                        
                    
                </div>
                <div class="col-balance order-tab-1">
                <img src="img/logos/profeco.png" alt="PROFECO Logo ">
                </div>
            </div>
            
            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="img/logos/issste.png"alt="issste Logo">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">INSTITUTO DE SEGURIDAD Y SERVICIOS SOCIALES DE LOS TRABAJADORES DEL ESTADO</span>
                    <br>
                    <p>
                        ATENDENDEMOS 
                    <br>
                    <br>
                        
                        <li>DELEGACIÓN ESTATAL TABASCO, TABASCO.</li>
                                            
                </div>
            </div>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <span class="fc-primary fs-h3">SECRETARÍA DE MEDIO AMBIENTE Y RECURSOS NATURALES</span>
                    <br>
                    <p>
                        TENEMOS RELACIONES COMERCIALES, CON LA EMPRESA PARAESTATAL EN:
                    </p>
                    <br>
                    
                        <li>
                            CIUDAD DE MÉXICO, CDMX.
                        </li>
                        
                    
                </div>
                <div class="col-balance order-tab-1">
                    <img src="img/logos/semarnat.png" alt="SEMARNAT Logo">
                </div>
            </div>


            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="img/logos/sagarpa.png" alt="SAGARPA Logo">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">SECRETARÍA DE AGRICULTURA, GANADERÍA, PESCA Y ALIMENTACIÓN</span>
                    <br>
                    
                    <p>
                        ATENDEMOS A: 
                        </p>
                    <br>
                    
                        <li>DELEGACIÓN SAN LUIS POTOSÍ, SAN LUIS POTOSÍ.</li>
                                            
                </div>
            </div>
                
                <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <span class="fc-primary fs-h3">TELECOMM TELÉGRAFOS</span>
                    <br>
                    <p>
                        TENEMOS RELACIÓN COMERCIAL CON:
                    </p>
                    <br>
                    <ul>
                        <li>SUCURSAL VILLAHERMOSA, TABASCO</li>
                                                
                    </ul>
                </div>
                <div class="col-balance order-tab-1">
                    <img src="img/logos/telecomm.png" alt="TELECOMM Logo">
                </div>
            </div>
            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="img/logos/cinvestav.jpg" alt="CINVESTAV Logo">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">CENTRO DE INVESTIGACIÓN Y DE ESTUDIOS AVANZADOS</span>
                    <br>
                    <p>
                        ATENDEMOS PRINCIPALMENTE.
                    </p>
                    <br>
                    <ul>
                        <li>CIUDAD DE MÉXICO, CDMX</li>
                        <li></li>
                        <li></li>
                        
                    </ul>
                    
                </div>
            </div>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <span class="fc-primary fs-h3">SECRETARÍA DE SALUD</span>
                    <br>
                    <p>
                        TENEMOS RELACIONES COMERCIALES, CON LA EMPRESA PARAESTATAL EN:
                    </p>
                    <br>
                    <ul>
                        <li>DELEGACION VILLAHERMOSA, TABASCO.</li>
                        <li>DELEGACION CAMPECHE, CAMPECHE.</li>
                        
                    </ul>
                </div>
                <div class="col-balance order-tab-1">
                    <img src="img/logos/salud.png" alt="">
                </div>
            </div>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="img/logos/comimsa.png" alt="">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">CORPORACIÓN MEXICANA DE INVESTIGACIÓN EN MATERIALES</span>
                    <p>
                        ATENDEMOS A SUS AREAS EN SALTILLO Y CUNDUACÁN
                    </p>
                    <br>
                    
                        <li>SALTILLO, COAHUILA.</li>
                        <li>CUNDUACÁN, TABASCO.</li>
                                           
            </div>


        </section>

    </main>

    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER WEBSITE MOTO START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Corporativo Lumar</h3>
                <p>
                    
                </p>
                <br>
                <p>
                    "Todas las marcas mencionadas en este sitio web son propiedad de sus respectivos dueños. Su uso aquí es únicamente con fines informativos y no implica ningún tipo de afiliación o respaldo por parte de los titulares de las marcas."
                </p>
            </div> 
            <!-- FOOTER WEBSITE MOTO END -->

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Contáctanos</h3>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    ventas@clumar.com.mx
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +52 993 190 1049 <br>
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;+52 993 280 3572
                    
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    Jobo Manzana 10 Lote 23, Nacajuca, Tabasco, México. <br>
                    San Benito # 40, Pedregal Santa Ursula, CP 04600, Coyoacán, CDMX, México.
                </a>
                <a href="#" class="display-inblock fc-white icon-link mt-20" aria-label="Follow on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Horario laboral</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Lunes a  Viernes:
                    <span class="fw-normal display-block">Abierto 09:00 a 20:00</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sabados y Domingos:
                    <span class="fw-normal display-block">Todo el día, vía internet</span>
                </p>
                
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Enlaces de interés</h3>
                <a href="index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Inicio
                </a>
                <a href="about.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Nosotros
                </a>
                <a href="soluciones.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Soluciones
                </a>
                <a href="recuperacion.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Recuperación
                </a>
                <a href="clientes.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Clientes
                </a>
                
                <a href="contact.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contacto
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; www.clumar.com.mx - Copyright 2024</small>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
</html>