<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="JuanP">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="JuanP>
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Corporativo Lumar">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Corporativo Lumar | Inicio</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOng">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    
    <link rel="stylesheet" href="css/fontstyle.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="art/favicon_lumar.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- MAIN HERO BANNER START -->
        
        <section class="hero-banner">
        <div class="logo_cl_4">
                     <img src="art/logo_cl_4.png"  alt="logo_lumar">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                                   
                    <h1 class="Oranienbaum-Regular">Corporativo Lumar</h1>
                    <p class="fs-h4 fw-normal">
                        Todo en un solo lugar....
                    </p>
                    <a href="#about" class="btn-bg2 border-round mt-20">
                        Conocénos un poco más <i class="bi bi-chevron-compact-right"></i>
                    </a>
                    
                     </div>
                </div>
            </div>
            <div class="hero-socials">
                <a href="#" class="mt-a icon-link" aria-label="Siguenos en facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>
        <!-- MAIN HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index.html" class="logo fc-primary Oranienbaum-Regular row flex-alig-center">
               
                    <span class="fs-h2">Corporativo Lumar</span>
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="index.html">Inicio</a>
                    <a href="about.html">Nosotros</a>
                    <a href="soluciones.html">Soluciones</a>
                    <a href="recuperación.html">Recuperación</a>
                    <a href="clientes.html">Clientes</a>
                    <a href="contact.html" class="btn-bg1 border-round">Contáctanos</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <!-- ABOUT SECTION START -->
        
                   
                    
        <section class="contained row" id="about">
            <h2 class="section-title Oranienbaum-Regular">Nosotros</h2>
            <div class="col-balance">
                <span class="fc-primary fs-h2">
                
                    El Portafolio de Soluciones que ofrecemos a nuetros clientes, va desde un simple disco, pasando por hardware y software hasta el Outsourcing, para eficientar a su empresa.
                </span>
                <br>
                <p>
                    Corporativo Lumar es una empresa dedicada a la comercialización, con un enfoque especial en la tecnología de la información. Nos especializamos en atender a pequeñas y medianas empresas, así como a corporativos y al público en general. Además, ofrecemos soluciones tecnológicas y asesoría personalizada a gobiernos municipales, estatales y federal, adaptándonos a sus necesidades específicas para mejorar su infraestructura y servicios.
                </p>
                <br>
                
                
                <a href="about.html" class="btn-bg1 mt-25 border-round">Encuentra más Soluciones</a>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                     
                    <img src="art/hero1.webp" alt="">
                    <img src="svg/blob.svg" alt="" class="blob">
                    <img src="art/hero2.webp" alt="">
                    <!-- <img src="art/hero4.webp" alt=""> -->
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>
        <!-- ABOUT SECTION END -->

        <!-- TEAM SECTION START -->
        <section class="contained">
            <h2 class="section-title Oranienbaum-Regular">Nuestro Equipo</h2>
            <p class="col-wide mlmr-a ta-center">
                Nuestro equipo está dedicado a dar soluciones a su empresa
                de forma individualizada para resolver sus necesidades
                y ofrecer el mayor esfuerzo y dedicación a fin de resolver esas necesidades.
            </p>
            
        <!-- TEAM SECTION END -->

        <!-- PREVIEW SERVICE SECTION START -->
        <section class="bg-primary-foot ta-center">
            <h2 class="section-title Oranienbaum-Regular bg-primary-foot">Soluciones</h2>
            <div class="contained">
                <p class="col-wide mlmr-a">
                    Aquí está nuestra gama de servicios excepcionales, diseñados para satisfacer sus necesidades con calidad 
                    y la asequibilidad en mente. No dudes en experimentar la diferencia hoy mismo. ¡Adelante!
                </p>
            </div>
            <div class="contained row flex-just-center">
                <div class="col-full">
                    <hr>
                </div>
                
            <a href="clientes.html" class="btn-bg2 border-round mt-25">
                Nuestros Clientes
            </a>
        </section>
        <!-- PREVIEW SERVICE SECTION END -->

        <!-- PREVIEW BLOGS SECTION START -->
        <section class="contained">
            <h2 class="section-title Oranienbaum-Regular">Visión | Misión |  Valores</h2>
            <p class="ta-center col-wide mlmr-a">
               
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-blog">
                       
                        <div class="info">
                            <h3 class="mt-5 mb-5 Oranienbaum-Regular fc-primary">Visión</h3>
                            
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                        Ser el proveedor más competitivo de la Región en los próximos años, y constituirnos como la casa Comercializadora líder a nivel Nacional, siempre comprometidos en cubrir satisfactoriamente las necesidades de nuestros clientes de forma rápida y puntual.
                            
                        </p>
                        
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        
                        <div class="info">
                            <h3 class="mt-5 mb-5 Oranienbaum-Regular fc-primary">Misión</h3>
                            
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                        Satisfacer las necesidades de nuestros clientes, brindando servicio de calidad, a través de la mejora continua, ofreciendo siempre la mejor opción de preveeduría de productos y servicios de los distintos segmentos de los mercados e industrias, así como contribuir en el cuidado del medio ambiente.
                            
                        </p>
                        
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        
                        <div class="info">
                            <h3 class="mt-5 mb-5 Oranienbaum-Regular fc-primary">Valores</h3>
                            
                        </div>
                        <p class="ml-10 mt-5 mb-2 0">
                        <ul>
                        <li>Atención al cliente</li>
                        <li>Confianza</li>
                        <li>Compromiso</li>  
                        <li>Valor agregado</li> 
                        <li>Responsabilidad</li> 
                        
                        </ul>
                            </p>
                        
                        
                    </article>
                </div>
            </div>
        </section>
        <!-- PREVIEW BLOGS SECTION END -->

        <!-- SUBSCRIBE TO NEWS LETTERS START -->
        
        <!-- SUBSCRIBE TO NEWS LETTERS ENS -->

        <section class="contained ta-center">
            <h2 class="section-title Oranienbaum-Regular">Encuéntranos en:</h2>
            <p class="col-wide mlmr-a">
                Si tienes alguna duda o comentario, no dudes en ponerte en contacto con nosotros en la siguiente liga.
            </p>
            <a href="contact.html" class="btn-bg1 border-round mt-25">
                Contáctanos
            </a>
        </section>
        
        

    </main>
    
    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER WEBSITE MOTO START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Corporativo Lumar</h3>
                <p>
                    
                </p>
                <br>
                <p>
                    "Todas las marcas mencionadas en este sitio web son propiedad de sus respectivos dueños. Su uso aquí es únicamente con fines informativos y no implica ningún tipo de afiliación o respaldo por parte de los titulares de las marcas."
                </p>
            </div> 
            <!-- FOOTER WEBSITE MOTO END -->

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Contáctanos</h3>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    ventas@clumar.com.mx
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +52 993 190 1049 <br>
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;+52 993 280 3572
                    
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    Jobo Manzana 10 Lote 23, Nacajuca, Tabasco, México. <br>
                    San Benito # 40, Pedregal Santa Ursula, CP 04600, Coyoacán, CDMX, México.
                </a>
                <a href="#" class="display-inblock fc-white icon-link mt-20" aria-label="Follow on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Horario laboral</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Lunes a  Viernes:
                    <span class="fw-normal display-block">Abierto 09:00 a 20:00</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sabados y Domingos:
                    <span class="fw-normal display-block">Todo el día, vía internet</span>
                </p>
                
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="Oranienbaum-Regular">Enlaces de interés</h3>
                <a href="index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Inicio
                </a>
                <a href="about.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Nosotros
                </a>
                <a href="soluciones.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Soluciones
                </a>
                <a href="recuperacion.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Recuperación
                </a>
                <a href="clientes.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Clientes
                </a>
                
                <a href="contact.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contacto
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; www.clumar.com.mx - Copyright 2024</small>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
</html>